<% include('../layouts/header.ejs') %>
<h1>Dashboard</h1>

<table width="50%">
    <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Mobile</th>
        <th>Image</th>
        <th>Verified</th>
    </tr>

    <% if (users.length > 0) { %>
        <% for (let i = 0; i < users.length; i++) { %>
            <tr>
                <td><%= users[i].name %></td>
                <td><%= users[i].email %></td>
                <td><%= users[i].mobile %></td>
                <td><img src="/userImages/<%= users[i].image %>" alt="<%= users[i].image %>" width="100px" height="100px"></td>
                <td><%= users[i].is_verified %></td> 
            </tr>
        <% } %>
    <% } else { %>
        <tr>
            <td colspan="5">Users Not Found</td>
        </tr>
    <% } %>
</table>
<br>

<a href="/admin/home">Go to Home</a>
<% include('../layouts/footer.ejs') %>
