<% include('../layouts/header.ejs') %>

<h1>Edit User</h1>

<form action="" method="POST"> 
    <input type="hidden" name="user_id" value="<%= user._id %>">
    <label>Name</label>
    <input type="text" name="name" placeholder="Enter name" value="<%= user.name %>" required>
    <br> <br>

    <label>Email</label>
    <input type="email" name="email" placeholder="Enter email" value="<%= user.email %>" required>
    <br> <br>

    <label>Mobile No</label>
    <input type="text" name="mno" placeholder="Enter Mobile No" value="<%= user.mobile %>" required>
    <br> <br>

    <label>Verified</label>
    <input type="radio" name="verify" value="1" <% if (user.is_verified == 1) { %> checked <% } %> >

    <label>Unverified</label>
    <input type="radio" name="verify" value="0" <% if (user.is_verified == 0) { %> checked <% } %> >
    <br> <br>
    <input type="hidden" name="id" value="<%= user._id %>">
    <input type="submit" value="Update User">
    <br> <br>
</form>

<a href="/admin">Go to Dashboard</a>
<% include('../layouts/footer.ejs') %>


