<% include('../layouts/header.ejs') %>

<h3>Welcome , <%= user.name %></h3>



<table width="50%"> 
    <tr>
        <td> <img src="userImages/<%= user.image %>" width="300px" height="300px" alt="<%= user.image %>"></td>
    </tr>

    <tr>
        <td>Email</td>
        <td><%= user.email %></td>
    </tr>

    <tr>
        <td>Mobile</td>
        <td><%= user.mobile %></td>
    </tr>

    <tr>
        <td>Verified</td>
        <td>YES</td>
    </tr>

</table>

<a href="/logout">Logout</a>

<% include('../layouts/footer.ejs') %>
